.body-flex{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
align-items: center;
background-size: cover;
}.body-flex-contents{
    width:1000px;
    height: 500px;
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
    justify-content: center;    
}.body-flex-contents>img{
    width: 500px;
    height: 500px;
}.body-flex-contents>p{
    width: 500px;
    height: 500px;
    text-align: center;
    padding-top: 20%;
    line-height: 1;
    letter-spacing: 1px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
}
.body-flex-footer{
    width: 500px;
    text-align: center;
}.body-flex-footer>p{
    line-height: 1;
    letter-spacing: 1px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 0.9rem;
}
.body-flex-footer>p>a{
    color: #000;
}
.body-flex-contents>.one{
    background-color: #a2dac3;
}.body-flex-contents>.two{
    background-color: #a2dac3;
}
.body-flex-contents>.three{
    color: #FFF;
    background-color: #173f2e;
}.body-flex-contents>.four{
    color: #FFF;
    background-color: #173f2e;
}.body-flex-contents>p>a{
    display: block;
    margin-top: 10%;
    border: solid 1px #000;
    background: none;
    width: 150px;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    height: 37px;
    text-decoration: none;
    padding: 9px 16px;
}.body-flex-contents>.one>a{
    color: #000;
}.body-flex-contents>.two>a{
    color: #000;
}.body-flex-contents>.three>a{
color: #FFF;
}.body-flex-contents>.four>a{
    color: #FFF;
}.body-flex-contents>.four>a:hover{
    color: #FFF;
    background-color: #1f503c;
transition: all 0.5s;
}.body-flex-contents>.three>a:hover{
    color: #FFF;
    background-color: #1f503c;
    transition: all 0.5s;
}.body-flex-contents>.two>a:hover{
background-color: #85b5a1;
    transition: all 0.5s;
}.body-flex-contents>.one>a:hover{    
    background-color: #85b5a1;
    transition: all 0.5s;
}

/*MediaQueries*/

@media(max-width:768px){
    .body-flex{
        margin-top:10%;
        justify-content: center;
        align-items: center;
    }
.body-flex-contents{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 80%;
    height: 60%;
    justify-content: center;
}.body-flex-contents>img{
    width: 80%;
    height: 60%;
}
.body-flex-contents>p{
    width: 80%;
    height: 60%;
    line-height: none;
    text-align: center;
   font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    
}.body-flex-footer{
    width: 80%;
    height: 60%;
}
.body-flex-footer>p{
    width: 80%;
    height: 60%;
    font-size: 0.8rem;
   
}
.body-flex-contents>p>a{
    display: block;
    margin-top: 2%;
    margin-bottom: 2%;
    border: solid 1px #000;
    background: none;
    width: 150px;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    height: 37px;
    text-decoration: none;
    padding: 7px 16px;

}
}