body{
    background-color: #FFF;

}
nav{
    display: flex;
    height:90px;
    width: 100%;
    background-color: #FFF;
    margin-top: -1%;
    flex-direction: row;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;;
    justify-content:  space-around;
}
nav>.nav-brand>a>img{
    height:40px;
    width:40px;
  display: inline;
  margin: 30px 10px;
}.nav-links>ul>li>a{
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    letter-spacing: 1px;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: all 0.3s;
}.nav-links>ul>li>a:hover{
color: #0f6749;
}
.nav-links>ul>li{
    display: inline;
    margin-left: 1%;
    margin-right: 1%;
}.nav-links{
    padding-top: 2%;
    width:500px;
}.misc>li{
    display: inline;
    margin-left: 1%;
    margin-right: 1%;
}.misc{
    padding-top: 2%;
    width:400px; 
    display:flex ; 
    flex-direction: row;
    justify-content: center;
}

.misc>li>a{
    text-decoration: none !important;
    font-weight: bold;
    color: #000;
    letter-spacing: 1px;
    line-height: 1;
}.misc>li>a:hover{
    color: #0f6749;
}.misc>li>button{
    display: inline;
    background: none;
    border: solid 1px #000;
    border-radius: 50px;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    transition: all 0.2s ease;
    padding: 7px 16px;
    cursor: pointer;
}.misc>li>.joinnow{
    color: #FFF;
    background-color: rgb(0, 0, 0.87);
}
@media(max-width:768px){
    .nav-links>ul>li>a{
        font-size: 0.6rem;
        letter-spacing: 0;

    }
    nav{
        height: 180px;
        max-width: 100% !important;
        justify-content: center;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        box-shadow: none;
        flex-grow: 10;
    }
    .nav-links{
        padding-top: 6%;
    }.misc{
        padding-top:6%;
        width: 50%;
    }.misc>li{
        flex-direction: column;
    }
.misc>li{
    font-size: 0.6rem;
    width: 700px;
}
}


